<section class="section-one-home">
  <div class="container">
    <form
          #formElement="ngForm"
          [formGroup]="dataForm"
          (ngSubmit)="onSubmit()"
        >
    <div class="section-one-main">
      <div class="sec-one-inputs" >
        <div class="search-form">
          <div class="sec-home-input-area">
            <button
              type="button"
              [matMenuTriggerFor]="menu"
              class="nested-sec-select"
            >
              <span>
                {{ isSelectedValue ? isSelectedValue : "Vælg en placering" }}
              </span>

              <i class="fa-solid fa-angle-down"></i>
            </button>

            <mat-menu #menu="matMenu" class="mat-menu sec-one-mat">
              <p>Pick a region</p>
            
              <ng-container *ngFor="let disData of divisions">
                <button
                  (click)="onSelectBtnDis(disData?.name, $event,'divisions')"
                  class="divisions parent-btn"
                  type="button"
                >
                
          
                  {{ disData?.name }}
                  <span *ngIf="isSelectedValue === disData?.name">
                    <i class="fas fa-check"></i>
                  </span>
                </button>
            
                <ng-container *ngFor="let area of disData?.area">
                  <div class="child-container">
                    <button
                      (click)="onSelectBtnDis(area?.name, $event, 'area')"
                      class="area child-btn"
                      type="button"
                    >
                      {{ area.name }}
                      <span *ngIf="isSelectedValue === area?.name">
                        <i class="fas fa-check"></i>
                      </span>
                    </button>
            
                    <ng-container *ngFor="let zone of area?.zone">
                      <button
                        (click)="onSelectBtnDis(zone?.name, $event, 'zone')"
                        class="zone child-btn"
                        type="button"
                      >
                        {{ zone?.name }}
                        <span *ngIf="isSelectedValue === zone?.name">
                          <i class="fas fa-check"></i>
                        </span>
                      </button>
                    </ng-container>
                  </div>
                </ng-container>
              </ng-container>
            </mat-menu>
          </div>

          <div class="sec-home-input-area">
            <button
              type="button"
              [matMenuTriggerFor]="categoryMenu"
              class="nested-sec-select"
            >
              <span>
                {{
                  isSelectedValueCategory
                    ? isSelectedValueCategory
                    : "Vælg en kategori"
                }}
              </span>

              <i class="fa-solid fa-angle-down"></i>
            </button>

            <mat-menu #categoryMenu="matMenu" class="mat-menu sec-one-mat">
              <p>Select a category</p>

              <button
                (click)="onSelectBtnCategory(data?.slug, $event)"
                class="divisions"
                type="button"
                *ngFor="let data of categorys"
              >
                {{ data?.name }}
                <span *ngIf="isSelectedValueCategory === data?.slug">
                  <i class="fas fa-check"></i>
                </span>
              </button>
            </mat-menu>
          </div>
          <!-- END! sec-home-input-area (category) -->

          <div class="sec-home-input-area">
            <button
              type="button"
              [matMenuTriggerFor]="typeMenu"
              class="nested-sec-select"
            >
              <span>
                {{
                  isSelectedValueType
                    ? isSelectedValueType
                    : "Vælg type"
                }}
              </span>

              <i class="fa-solid fa-angle-down"></i>
            </button>

            <mat-menu #typeMenu="matMenu" class="mat-menu sec-one-mat">
              <p>Select Type</p>

              <button
                (click)="onSelectBtnType(data?.slug, $event)"
                class="divisions"
                type="button"
                *ngFor="let data of types"
              >
                {{ data?.name }}
                <span *ngIf="isSelectedValueType === data?.slug">
                  <i class="fas fa-check"></i>
                </span>
              </button>
            </mat-menu>
          </div>
          <!-- END! sec-home-input-area (type) -->

          <div class="sec-home-input-area">
            <form class="search-form-container" #searchForm="ngForm" (click)="onClickSearchArea($event)">
              <input
                #searchInput
                id="searchInput"
                class="tw"
                type="text"
                placeholder="Indtast dit nøgleord her..."
                (input)="onSearchChange($event.target.value)"
                (focus)="handleFocus($event)"
                (ngModelChangeDebounced)="searchQuery = $event"
                (blur)="handleBlur()"
                name="searchTerm"
                autocomplete="off"
                [(ngModel)]="searchQuery"
                (keydown.enter)="onSearchNavigate()"
              />
              <mat-icon class="clear-search" *ngIf="searchQuery" (click)="resetSearch()" aria-label="Clear search input">clear</mat-icon>
            </form>
          </div>

          <div class="sec-home-sub-btn">
            <button type="submit">Søgning</button>
          </div>
      </div>        
      </div>
    </div>
    <div class="btn-container">
      <div class="sec-home-sub-btn sec-home-sub-btn-second">
        <button type="button" (click)="onHideFilter()">
          {{ "flere filtre" | uppercase }}
        </button>
      </div>
    </div>
    <div class="filter-area" *ngIf="advanchFilter">
      <div class="filter-area-three">
        <div class="filter-area-three-range-slider">
          <div class="filter-area-three-range-slider-top">
            <p>Height</p>
          </div>
          <mat-slider
          formGroupName="height"
            min="150"
            max="200"
            showTickMarks
            discrete
            [displayWith]="formatLabel"
          >
            <input formControlName="minHeight" matSliderStartThumb>
            <input formControlName="maxHeight" matSliderEndThumb>
          </mat-slider>
        </div>
        <!-- END! filter-area-three-range-slider -->
  
        <div class="filter-area-three-range-slider">
          <div class="filter-area-three-range-slider-top">
            <p>Weight</p>
          </div>
  
          <mat-slider
            min="50"
            max="300"
            showTickMarks
            discrete
            formGroupName="weight"
            [displayWith]="formatLabel"
          >
            <input formControlName="minWeight" matSliderStartThumb />
            <input formControlName="maxWeight" matSliderEndThumb />
          </mat-slider>
        </div>
        <!-- END! filter-area-three-range-slider -->
  
        <div class="filter-area-three-range-slider">
          <div class="filter-area-three-range-slider-top">
            <p>Age</p>
          </div>
  
          <mat-slider
            min="18"
            max="80"
            showTickMarks
            discrete
            [displayWith]="formatLabel"
            formGroupName="age"
    
          >
            <input formControlName="minAge" matSliderStartThumb />
            <input formControlName="maxAge" matSliderEndThumb />
          </mat-slider>
        </div>
        <!-- END! filter-area-three-range-slider -->
      </div>  
      <div class="filter-area-child-one">
        <div class="sec-home-input-area-par">
          <label for="BodyType">Body Type</label>
          <div class="sec-home-input-area">
            <select formControlName="bodytype">
              <option value="null" hidden>All Types</option>
              <ng-container *ngFor="let data of bodyTypes; let i = index">
                <option [value]="data.name">{{ data.name }}</option>
              </ng-container>
            </select>
          </div>
        </div>
        <!-- END! sec-home-input-area-par -->
  
  
        <div class="sec-home-input-area-par">
          <label for="BodyType">Hair Color</label>
          <div class="sec-home-input-area">
            <select formControlName="hairColor">
              <option value="null" hidden>All Types</option>
              <ng-container *ngFor="let data of hairColors; let i = index">
                <option [value]="data.name">{{ data.name }}</option>
              </ng-container>
            </select>
          </div>
        </div>
        <!-- END! sec-home-input-area-par -->
  
        <div class="sec-home-input-area-par">
          <label for="BodyType">Pubichair</label>
          <div class="sec-home-input-area">
            <select id="BodyType" formControlName="intimateHairs" >
              <option value="null" hidden>All Types</option>
              <option *ngFor="let data of intimateHairs"  [value]="data.name">{{ data.name }}</option>
            </select>
          </div>
        </div>
        <!-- END! sec-home-input-area-par -->

      </div>
      <div class="filter-area-child-two">
        <div class="filter-area-btn">
          <button type="button" (click)="resetFilter()">Clear filters</button>
        </div>
  
        <div class="filter-area-btn filter-area-btn-search">
          <button type="button" (click)="onSubmit()">
            <i class="fa-solid fa-magnifying-glass"></i>
            <span>Search</span>
          </button>
        </div>
      </div>
    </div>    
      </form>
  </div>
</section>
