<div class="product-details-quick" mat-dialog-close>
  <div class="popup-area-main" (click)="$event.stopPropagation()">
    <div class="product-details-quick-child">
      <div class="product-details-quick-child-left">
        <swiper
          [slidesPerView]="1"
          [spaceBetween]="0"
          [autoplay]="false"
          [loop]="true"
          [grabCursor]="true"
          [navigation]="true"
          [breakpoints]="{
            '0': {
              slidesPerView: 1
            }
          }"
          class="mySwiper mySwiperTwo"
        >
          <ng-template swiperSlide *ngFor="let data of product?.images">
            <div class="quick-child-left-img">
              <img
                [src]="data ? data : '/assets/images/png/fallbackImage.png'"
                alt="image"
              />
            </div>
          </ng-template>
          
          <ng-template swiperSlide *ngIf="!product?.images">
            <div class="quick-child-left-img">
              <img
                [src]="'/assets/images/png/fallbackImage.png'"
                alt="image"
              />
            </div>
          </ng-template>

        </swiper>
      </div>
      <!-- END! product-details-quick-child-left -->

      <div class="product-details-quick-child-right">
        <div class="quick-details-right-top">
          <div class="quick-right-title" >
            <h2>
              <div (click)="selectTitle()">{{ product?.name }}</div>
              <span *ngIf="product?.user?.isVerfied" class="verify-icon">
                <img  src="./assets/images/svg/verified.svg" alt="verified">
              </span>
            </h2>

            <p>{{ product?.division?.name }}, {{ product?.age }}y</p>

            <!-- <div class="close-btn">
              <button type="button" mat-dialog-close>
                <i class="fa-regular fa-circle-xmark"></i>
              </button>
            </div> -->
            <!-- END! close-btn -->
          </div>

          <div class="quick-right-detail">
            <div class="phone-number">
              <a href="tel:{{ 'product?.phone' }}" *ngIf="product?.phone">
                <i class="fa-solid fa-phone"></i>
                <span>{{ product?.phone }}</span>
              </a>

              <a href="https://www.whatsapp.com/" target="_blank" *ngIf="product?.phone">
                <i class="fa-brands fa-whatsapp"></i>
                <span>{{ product?.phone }}</span>
              </a>
            </div>
          </div>
        </div>

        <div class="quick-details-right-bottom">
          <h4>
            <i>About Me</i>
          </h4>

          <p
            class="description"
            [innerHTML]="product?.shortDescription | safeHtml"
          ></p>
        </div>
      </div>
      <!-- END! product-details-quick-child-right -->
    </div>
    <!-- END! product-details-quick-child -->
  </div>
</div>
<!-- END! product-details-quick -->
