<div class="product-list-data-right">
  <!--  <div class="total-product-list">-->
  <!--    <h2>-->
  <!--      <b>Showing 1-10 of {{ totalProducts }} results</b>-->
  <!--    </h2>-->
  <!--    <div class="filter-icon">-->
  <!--      <i class="fas fa-filter" (click)="onHideFilterArea()"></i>-->
  <!--      <i class="fas fa-th"></i>-->
  <!--    </div>-->
  <!--  </div>-->
  <div class="product-list-main">
    <div class="all-product-item-cards">
      <ng-container *ngFor="let data of products">
        <app-feature-card [data]="data"></app-feature-card>
      </ng-container>
    </div>
<!--    <div class="load-more" style="margin-top: 10px">-->
<!--      <a (click)="onLoadMore()" class="button" [class.loading]="isLoadMore">-->
<!--        {{-->
<!--        totalProducts > products?.length ? "Load More" : "No More Products"-->
<!--        }}-->
<!--      </a>-->
<!--    </div>-->
  </div>
</div>
