<section class="search-area">
    <div class="container">
        <div class="search-area-child">
<!--            <form #formElement="ngForm" [formGroup]="dataForm" (ngSubmit)="onSubmit()">-->
<!--                <div class="form-left-input">-->
<!--                    <div class="sec-home-input-area">-->
<!--                        <select formControlName="location">-->
<!--                            <option value="null" selected>Chose location</option>-->
<!--                            <option *ngFor="let d of divisions" [value]="d.name">-->
<!--                                {{ d?.name }}-->
<!--                            </option>-->
<!--                        </select>-->
<!--                    </div>-->

<!--                    <div class="sec-home-input-area">-->
<!--                        <select formControlName="category">-->
<!--                            <option value="null" selected>Select a category</option>-->
<!--                            <option *ngFor="let data of categorys" [value]="data.slug">-->
<!--                                {{ data.name }}-->
<!--                            </option>-->
<!--                        </select>-->
<!--                    </div>-->

<!--                    <div class="sec-home-input-area">-->
<!--                        <select formControlName="type">-->
<!--                            <option value="null" selected>Select Type</option>-->
<!--                            <option *ngFor="let data of types" [value]="data.slug">-->
<!--                                {{ data.name }}-->
<!--                            </option>-->
<!--                        </select>-->
<!--                    </div>-->
<!--                    <div class="sec-home-input-area">-->
<!--                        <input type="text" formControlName="name" placeholder="Enter your keyword here..." />-->
<!--                    </div>-->
<!--                    <div class="sec-home-sub-btn">-->
<!--                        <button type="submit">SØGNING</button>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </form>-->
          <app-search-filter></app-search-filter>
          <div *ngIf="data == '/massage-aalborg'" class="heading-data">
            <h4>Søger du massage i Aalborg? Se massage annoncer her:</h4>
            <p>
                Er du på udkig efter massage annoncer i Aalborg? Her finder du listen over alle escort, massage, BDSM og trans annoncer i Aalborg og Nordjylland. Hvis du søger efter massage annoncer i andre dele af Danmark,<a
                    routerLink="/">tryk her</a>.
            </p>
            <p>
                Hvis du vil bruge filter, <a routerLink="/ads">tryk her</a>.
                Ønsker du at oprette en profil på Myescort.dk eller oprette en annonce,<a routerLink="/login">tryk her</a>.
            </p>
        </div>

            <!-- <div *ngIf="data == '/massage-odense'" class="heading-data">
                <h4>You create the ad by providing all the</h4>
                <p>
                    You create the ad by providing all the information and pressing create
                    ad, then you press 'Create ad' <a routerLink="/">click hear</a>.
                </p>
                <p>
                    You create the ad by <a routerLink="/ads">click hear</a>.
                    providing all the information and pressing create ad, then you press
                    'Create ad'.<a routerLink="/login">click hear</a>.
                </p>
            </div> -->
            <!--
            <div *ngIf="data == '/massage-copenhagen'" class="heading-data">
                <h4>You create the ad by providing all the</h4>
                <p>
                    You create the ad by providing all the information and pressing create
                    ad, then you press 'Create ad' <a routerLink="/">click hear</a>.
                </p>
                <p>
                    You create the ad by <a routerLink="/ads">click hear</a>.
                    providing all the information and pressing create ad, then you press
                    'Create ad'.<a routerLink="/login">click hear</a>.
                </p>
            </div> -->

            <div *ngIf="data == '/massage-aarhus'" class="heading-data">
                <h4>Har du brug for massage i Aarhus?</h4>
                <p>
                    Hos Myescort.dk finder du bedste erotiske massage i Odense og på Fyn. Vi har altid nye massage, escort og sex annoncer klar til dig. Brug søgefunktionen, hvis du søger andre former for escort eller massage.
                    <!-- <a routerLink="/">tryk</a>. -->
                    </p>
                    <p>
                        Hvis du vil bruge filter, <a routerLink="/ads">tryk her</a>. Ønsker du at oprette en profil på Myescort.dk eller oprette en annonce, <a routerLink="/login">tryk her</a>.
                    <!-- You create the ad by <a routerLink="/ads">tryk</a>.
                    providing all the information and pressing create ad, then you press
                    'Create ad'.<a routerLink="/login">tryk</a>. -->
                    </p>
            </div>

            <!-- <div *ngIf="data == '/escort-aalborg'" class="heading-data">
                <h4>You create the ad by providing all the</h4>
                <p>
                    You create the ad by providing all the information and pressing create
                    ad, then you press 'Create ad' <a routerLink="/">click hear</a>.
                </p>
                <p>
                    You create the ad by <a routerLink="/ads">click hear</a>.
                    providing all the information and pressing create ad, then you press
                    'Create ad'.<a routerLink="/login">click hear</a>.
                </p>
            </div> -->

            <!-- <div *ngIf="data == '/escort-odense'" class="heading-data">
                <h4>You create the ad by providing all the</h4>
                <p>
                    You create the ad by providing all the information and pressing create
                    ad, then you press 'Create ad' <a routerLink="/">click hear</a>.
                </p>
                <p>
                    You create the ad by <a routerLink="/ads">click hear</a>.
                    providing all the information and pressing create ad, then you press
                    'Create ad'.<a routerLink="/login">click hear</a>.
                </p>
            </div> -->

            <!-- <div *ngIf="data == '/escort-copenhagen'" class="heading-data">
                <h4>You create the ad by providing all the</h4>
                <p>
                    You create the ad by providing all the information and pressing create
                    ad, then you press 'Create ad' <a routerLink="/">click hear</a>.
                </p>
                <p>
                    You create the ad by <a routerLink="/ads">click hear</a>.
                    providing all the information and pressing create ad, then you press
                    'Create ad'.<a routerLink="/login">click hear</a>.
                </p>
            </div> -->

            <!-- <div *ngIf="data == '/escort-aarhus'" class="heading-data">
                <h4>You create the ad by providing all the</h4>
                <p>
                    You create the ad by providing all the information and pressing create
                    ad, then you press 'Create ad' <a routerLink="/">click hear</a>.
                </p>
                <p>
                    You create the ad by <a routerLink="/ads">click hear</a>.
                    providing all the information and pressing create ad, then you press
                    'Create ad'.<a routerLink="/login">click hear</a>.
                </p>
            </div> -->

            <!-- <div *ngIf="data == '/escort-valby'" class="heading-data">
                <h4>You create the ad by providing all the</h4>
                <p>
                    You create the ad by providing all the information and pressing create
                    ad, then you press 'Create ad' <a routerLink="/">click hear</a>.
                </p>
                <p>
                    You create the ad by <a routerLink="/ads">click hear</a>.
                    providing all the information and pressing create ad, then you press
                    'Create ad'.<a routerLink="/login">click hear</a>.
                </p>
            </div> -->




        </div>

        <app-filter-area *ngIf="advanchFilter"></app-filter-area>
    </div>
</section>
