<div class="account-sidebar" [class.open]="sliderShow">
  <ul>
    <li>
      <p>ACCOUNT MENU</p>

      <a (click)="onSLiderShow()">
        <span>
          <i class="fa-regular fa-circle-xmark"></i>
        </span>
      </a>
    </li>
    <li>
      <a
        routerLink="/account/profile"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Dashboard</a
      >
    </li>
    <li>
      <a routerLink="/account/my-list" routerLinkActive="active">Min annonce</a>
    </li>
    <li>
      <a routerLink="/account/wishlist" routerLinkActive="active">Favoritter</a>
    </li>

    <li>
      <a routerLink="/account/subscription" routerLinkActive="active"
        >Køb VIP konto</a
      >
    </li>
    <li>
      <a routerLink="/account/account-settings" routerLinkActive="active"
        >Kontoindstillinger</a
      >
    </li>
    <li>
      <a routerLink="/account/verificer-profil" routerLinkActive="active">{{
        user?.isVerfied ? "Profil Verificeret" : "Verificer Profile"
      }}</a>
    </li>
    <li>
      <a (click)="onLogout()">Log Ud</a>
    </li>
  </ul>
</div>

<div class="overflow" [class.open]="sliderShow" (click)="onSLiderShow()"></div>
