@import "src/theme/variables";
@import "src/theme/swipper";

/* --- product-details-left --- */
.product-details-left {
  width: 100%;
  position: relative;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgb(99 99 99 / 8%);
}

::ng-deep .ngxImageZoomContainer > img {
  max-height: 500px;
  object-fit: contain;
}

.location-div {
  display: flex;
  gap: 7px;

  i {
    color: $pink-color-two;
  }

  p {
    color: $text-color-two;
  }
}

.product-image-top {
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  background-color: #e7edee;

  img {
    width: 100%;
    max-height: 500px;
    height: 100%;
    object-fit: contain;
  }

  lib-ngx-image-zoom {
    width: 100%;
  }

  span {
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 15px;
    right: 15px;
    display: block;
    cursor: pointer;

    &.active {
      color: $color-primary;
    }

    &.search-pro-detail {
      background-color: $btn-color;
      border-radius: 50%;
      height: 22px;
      width: 22px;
      display: flex;
      align-items: center;
      justify-content: center;

      i {
        font-size: 12px;
        color: #e7ebed;
      }
    }
  }

  .watermarked {
    position: absolute;
    display: flex;
    justify-content: start;
    top: 10%;
    width: 100%;
    color: rgb(245, 77, 163);
    opacity: 0.8;
    font-size: 19px;
    font-weight: 700;
    opacity: 0.8;
  }

  .watermarked2 {
    position: absolute;
    display: flex;
    justify-content: end;
    top: 10%;
    width: 100%;
    color: rgb(245, 77, 163);
    opacity: 0.8;
    font-size: 19px;
    font-weight: 700;
    opacity: 0.8;
  }

  .watermarked3 {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 50%;
    width: 100%;
    color: rgb(245, 77, 163);
    opacity: 0.8;
    font-size: 19px;
    font-weight: 700;
    opacity: 0.8;
  }

  .watermarked4 {
    position: absolute;
    display: flex;
    justify-content: start;
    top: 90%;
    width: 100%;
    color: rgb(245, 77, 163);
    opacity: 0.8;
    font-size: 19px;
    font-weight: 700;
    opacity: 0.8;
  }
}

.section1-right {
  display: block;

  .zoom-viewer {
    max-width: 510px;
    width: 100%;
    background: #ffffff;
    background-repeat: no-repeat;
    position: absolute;
    left: 101%;
    top: 0px;
    z-index: 20;
    border-radius: 5px;

    img {
      width: 100% !important;
      height: 100%;
      border-radius: 5px;
      object-fit: cover;
    }
  }
}

.product-image-slider {
  margin-top: 14px;
}

.slide-img {
  display: block;
  border-radius: 7px;
  overflow: hidden;
  box-sizing: border-box;
  border: 1px solid transparent;
  transition: all 0.3s linear;
  background-color: #e7edee;
}

.slide-img img {
  height: 88px;
  object-fit: contain;
}

.slide-img:hover {
  border-color: $color-primary;
}

/* --- product-location-data --- */
.product-location-data {
  margin-top: 16px;
  display: flex;
  align-items: center;
  gap: 15px;

  h2 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;

    i {
      font-size: 14px;
      color: $pink-color-two;
    }

    span {
      font-family: $font-en-primary;
      font-size: 15px;
      font-weight: 400;
      color: $text-color-two;
    }
  }

  .product-location-btn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 13px;

    button {
      font-family: $font-en-primary;
      font-size: 14px;
      color: $color-white;
      padding: 4px 7px;
      border: 0;
      outline: 0;
      background-color: #ffc107;
      border-radius: 2px;

      &:last-child {
        background-color: #17a2b8;
      }
    }
  }
}

/* --- product-details-about --- */
.product-details-about {
  h3 {
    font-family: $font-en-primary;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #5c5c5c;
    padding: 22px 0 15px;
  }

  p {
    font-family: $font-en-primary;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: #363636;
    padding-bottom: 14px;
    line-height: 22px;
    white-space: break-spaces;

    &:last-child {
      padding-bottom: 0;
    }
  }
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000;
  .modal-content {
    position: relative;
    max-width: 80%;
    height: 100%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;  
    @media (max-width: 600px){
     max-width: 100%;
    }
    img {
      width: 100%;
      max-height: 100vh;
      height: 100%;
      object-fit: contain;
    }


  }
  .close-btn {
  position: fixed;
  top: 10px;
  right:25px;
  cursor: pointer;
  color: #fff;
  font-size: 50px;
  z-index: 1100;
  @media (max-width: 600px){
    top: 5px;
    right:15px;
  }
  }
}
.active {
  display: flex;
}    