<div class="product-details-left">
  <div class="product-image-top">
    <swiper
      [slidesPerView]="1"
      [spaceBetween]="0"
      [autoplay]="false"
      [loop]="true"
      [grabCursor]="true"
      [navigation]="true"
      [breakpoints]="{
        '0': {
          slidesPerView: 1
        }
      }"
      class="mySwiper mySwiperTwo"
    >
      <ng-template swiperSlide *ngFor="let data of product?.images">
        <lib-ngx-image-zoom
          (click)="onSelectImage(data)"
          checkImageDefault
          [thumbImage]="data"
          [fullImage]="data"
          [zoomMode]="data"
        ></lib-ngx-image-zoom>
      </ng-template>
    </swiper>

    <!-- <span
      (click)="onAddToWishList($event)"
      [ngClass]="{ active: product?._id === wishlist?.product?._id }"
      ><i class="fa fa-heart"></i
    ></span> -->
    <!-- <span class="search-pro-detail">
      <i class="fa-solid fa-magnifying-glass"></i>
    </span> -->
  </div>

  <div class="product-image-slider">
    <swiper
      [slidesPerView]="3"
      [spaceBetween]="13"
      [autoplay]="true"
      
      [grabCursor]="true"
      [navigation]="false"
      [breakpoints]="{
        '520': {
          slidesPerView: 3
        },
        '768': {
          slidesPerView: 3
        },
        '900': {
          slidesPerView: 4
        },
        '1000': {
          slidesPerView: 4
        }
      }"
      class="mySwiper"
    >
      <ng-template swiperSlide *ngFor="let data of product?.images">
        <div class="slide-img">
          <img
            (click)="onSelectImage(data)"
            [src]="data ? data : './assets/images/temp/products/01.jpg'"
            alt=""
          />
        </div>
      </ng-template>
    </swiper>
  </div>

  <div class="product-details-about">
    <h3>About me</h3>
    <p>
      {{ product?.shortDescription }}
    </p>

    <!-- <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste natus
      molestias recusandae ratione tempore incidunt adipisci. Magni laboriosam
      fuga et minima blanditiis, sed quo nesciunt suscipit explicabo provident.
      Ex dolorum necessitatibus sunt libero voluptatum facere ipsum accusantium,
      voluptates porro architecto, voluptatem consequatur! Incidunt eos
      veritatis nisi accusantium sit quod quasi voluptas sed, tempore deserunt
      tempora obcaecati et reprehenderit, laboriosam autem accusamus est dolorem
      officia placeat. Molestiae commodi sed officiis doloribus veniam excepturi
      repellat ullam nobis, nisi minus quidem cumque voluptatum culpa sint
      praesentium asperiores est id optio, iste quo! Hic eveniet sint delectus
      at, quis dignissimos aliquam illum veniam laboriosam?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste natus
      molestias recusandae ratione tempore incidunt adipisci. Magni laboriosam
      fuga et minima blanditiis, sed quo nesciunt suscipit explicabo provident.
      Ex dolorum necessitatibus sunt libero voluptatum facere ipsum accusantium,
      voluptates porro architecto, voluptatem consequatur! Incidunt eos
      veritatis nisi accusantium sit quod quasi voluptas sed, tempore deserunt
      tempora obcaecati et reprehenderit, laboriosam autem accusamus est dolorem
      officia placeat. Molestiae commodi sed officiis doloribus veniam excepturi
      repellat ullam nobis, nisi minus quidem cumque voluptatum culpa sint
      praesentium asperiores est id optio, iste quo! Hic eveniet sint delectus
      at, quis dignissimos aliquam illum veniam laboriosam?
    </p> -->
  </div>
</div>
