@import "src/theme/variables";

/* --- product-details --- */
.product-details {
  padding: 50px 0;
}

/* --- product-details-child --- */
.product-details-child {
  margin: auto;
  display: grid;
  grid-template-columns: calc(100% - 494px) 463px;
  gap: 30px;
}

.expired-warning {
  height: 63px;
  background: #EED202;
  margin-bottom: 10px;
  border: none;
  border-radius: 11px;
  align-items: center;
  display: flex;
}

.warning-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 16px;
  color: #454545;
  margin-left: 27px;
}

@media (max-width: 1000px) {
  .product-details-child {
    max-width: 100%;
    margin: auto;
  }
}

@media (max-width: 992px) {
  .product-details-child {
    grid-gap: 30px;
    grid-template-columns: 100%;
  }
}

/* --- pricing-select-day --- */
.pricing-select-day {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  border-radius: 10px;
  overflow: hidden;
  margin-top: 44px;
  max-width: 600px;

  &.two {
    max-width: inherit;
    grid-template-columns: repeat(2, 1fr);

    app-select-days {
      border-right: 1px solid $border-color-two;
    }
  }
}

@media (max-width: 900px) {
  .pricing-select-day {
    grid-template-columns: repeat(1, 1fr);
    border-radius: 0;
    grid-gap: 24px;
    box-shadow: none;
    margin-top: 0;
    overflow: inherit;

    &.two {
      grid-template-columns: repeat(1, 1fr);

      app-select-days {
        border-right: 0 solid $border-color-two;
      }
    }
  }
}

@media (max-width: 320px) {
  .expired-warning {
    height: 80px;
  }
}
