<div class="product-details">
  <div class="container">
    <div class="row" *ngIf="product.status !== 'publish' || !checkIsActive()">
      <div class="col-12">
        <div class="expired-warning">
          <div class="warning-text">Denne tilbud er ikke længere aktuelt. Vi inviterer dig til at se andre forslag på vores hjemmeside.</div>
        </div>
      </div>
    </div>
    <div class="product-details-child">
      <app-product-details-image-area
        [product]="product"
        [selectedImage]="selectedImage"
      ></app-product-details-image-area>
      <!-- END! product-details-image-area -->

      <app-product-details-right-area
        [product]="product"
      ></app-product-details-right-area>
      <!-- END! product-details-right-area -->
    </div>
    <!-- END! product-details-child -->

    <div
      class="pricing-select-day"
      [ngClass]="{
        two: true
      }"
    >
      <ng-container>
        <app-select-days [product]="product"></app-select-days>
      </ng-container>
      <!-- END! select-days -->

      <ng-container>
        <app-product-details-pricing
          [product]="product"
        ></app-product-details-pricing>
        <!-- END! product-details-pricing -->
      </ng-container>
    </div>
    <!-- END! pricing-select-day -->

    <app-related-products [products]="products"></app-related-products>
    <!-- END! related-products -->
  </div>
</div>
