@import "src/theme/variables";

/* --- account-seetings-main --- */
.account-setting-container {
  width: 100%;
  display: grid;
  grid-template-columns: 200px calc(100% - (200px + 24px));
  grid-gap: 24px;
}

@media (max-width: 888px) {
  .account-setting-container {
    grid-template-columns: 100%;
    gap: 0;
  }
}

/* --- account-setting-main --- */
.account-setting-main {
  width: 100%;
  height: 100%;
  background-color: $color-white;
  padding: 28px;
  box-shadow: 0 5px 6px rgb(0 0 0 / 29%);
}

.account-setting-main-top {
  padding-bottom: 30px;

  h2 {
    font-family: $font-en-primary;
    font-size: 20px;
    font-weight: 700;
    color: #0c0c0c;
    padding-bottom: 30px;
    letter-spacing: 0.6px;
  }
}

@media (max-width: 742px) {
  .account-setting-main-top {
    padding-bottom: 11px;
  }
}

@media (max-width: 556px) {
  .account-setting-main-top {
    h2 {
      padding-bottom: 13px;
    }

  }
}

.form-input {
  width: 100%;
  margin: 20px 0px;

  label {
    display: block;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #555555;
    font-family: $font-en-primary;
    padding-bottom: 4px;

    span {
      color: $submit-btn-color;
      font-size: 18px;
    }
  }

  input {
    width: 100%;
    height: 44px;
    border-radius: 4px;
    border: 1px solid $border-color;
    font-family: $font-en-primary;
    font-size: 15px;
    font-weight: 400;
    color: $input-color;
    outline: 0;
    padding: 0 8px;

    &::placeholder {
      color: #aaa6a6;
    }

    &.active {
      border: 1px solid $red-color;
    }
  }

  p {
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: $red-color;
    font-family: $font-en-primary;
    font-style: italic;
    padding-top: 4px;
  }

}


.submit-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 18px;

  button {
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: $color-white;
    font-family: $font-en-primary;
    background-image: linear-gradient(to right, #f04a9f, #a71d64);
    padding: 12px 30px;
    border: 0;
    border-radius: 4px;
    outline: 0;
    transition: all 0.12s linear;

    &:hover {
      background-color: #ff7e94;
    }
  }

  p {
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.5px;
    color: $text-color;
    font-family: $font-en-primary;

    a {
      color: $pink-color;
      display: inline !important;
    }
  }
}

@media (max-width: 556px) {
  .submit-btn {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;

    button {
      width: 100%;
    }
  }
}

.input-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  .verifyicon{
   color:green
  }
  .mat-icon {
    margin-left: auto;
    position: absolute;
    margin-right: 10px;
  }
}