<div class="product-details-right">
  <div class="product-details-right-main-top">
    <div class="product-details-right-top">
      <div class="pro-right-title">
        <h2>
          <span>{{ product?.name }}</span>
          <ng-container *ngIf="product?.user?.isVerfied">
            <img  src="./assets/images/svg/verified.svg" alt="verified" class="verify-icon">
          </ng-container>
        </h2>
        <p>
          {{ product?.division?.name}}<span *ngIf="product?.division?.name && product?.area?.name">,</span>
          {{ product?.area?.name}}<span *ngIf="product?.area?.name && product?.zone?.name">,</span>
          {{product?.zone?.name}} 
        </p>
      </div>
      <div class="pro-right-detail" *ngIf="product?.phone || product?.whatsApp">
        <div class="pro-right-title-bottom" >
          <h2>Contact</h2>
        </div>

        <div class="phone-number" >
          <a href="tel:{{ product?.phone }}" *ngIf="product?.phone">
            <i class="fa-solid fa-phone"></i>
            <span>{{ product?.phone }}</span>
          </a>
          <a href="https://www.whatsapp.com/" target="_blank" *ngIf="product?.whatsApp">
            <i class="fa-brands fa-whatsapp"></i>
            <span >{{ product?.whatsApp }}</span>
          </a>
        </div>
      </div>
    </div>

    <div class="product-details-right-bottom" *ngIf="product?.category || product?.age || product?.height ||product?.weight || product?.bodyType?.name || product?.orientation?.name || product?.runningOut || product?.hairColor?.name || product?.intimateHair?.name ||product?.address || product?.email">
      <div class="pro-right-title-bottom">
        <!-- <h2>{{ product?.title }}</h2> -->
        <h2>Oversigt</h2>
      </div>
      <div class="pro-right-detail-two">
        <ul>
          <li *ngIf="product?.category">
            <p>
              <span>Kategori:</span>
              <small>{{ product?.category?.name }}</small>
            </p>
          </li>

          <li *ngIf="product?.age">
            <p>
              <span>Alder:</span>
              <small>{{ product?.age }}</small>
            </p>
          </li>

          <!-- <li *ngIf="(product?.runningOut | lowercase) === 'yes'">
            <p>
              <span>Drives out:</span>
              <small>{{ product?.runningOut }}</small>
            </p>
          </li> -->

          <li *ngIf="product?.height">
            <p>
              <span>Højde:</span>
              <small>{{ product?.height }} cm</small>
            </p>
          </li>

          <li *ngIf="product?.weight">
            <p>
              <span>Vægt:</span>
              <small>{{ product?.weight }} kg</small>
            </p>
          </li>

          <li *ngIf="product?.bodyType?.name">
            <p>
              <span>Kropstype:</span>
              <small>{{ product?.bodyType?.name }}</small>
            </p>
          </li>

          <li *ngIf="product?.orientation?.name">
            <p>
              <span>Orientering:</span>
              <small>{{ product?.orientation?.name }}</small>
            </p>
          </li>

          <li *ngIf="product?.runningOut">
            <p>
              <span>Kører ud:</span>
              <small>{{ product?.runningOut }}</small>
            </p>
          </li>

          <li *ngIf="product?.hairColor?.name">
            <p>
              <span>Hårfarve:</span>
              <small>{{ product?.hairColor?.name }}</small>
            </p>
          </li>

          <li *ngIf="product?.intimateHair?.name">
            <p>
              <span>Intimbehåring:</span>
              <small>{{ product?.intimateHair?.name }}</small>
            </p>
          </li>

          <li *ngIf="product?.email">
            <p>
              <span>Email:</span>
              <small>{{ product?.email}}</small>
            </p>
          </li>

          <li *ngIf="product?.address">
            <p>
              <span>Adresse:</span>
              <small>{{ product?.address}}</small>
            </p>
          </li>

          <!-- <li>
            <p>
              <span>Accepts disabled people:</span>
              <small>dgasf</small>
            </p>
          </li> -->
        </ul>
      </div>
    </div>
  </div>
  <!-- END! product-details-right-main-top -->

  <div class="product-details-right-main-bottom">
    <ul>
      <li (click)="onAddToWishList($event)">
        <i class="fa-regular fa-heart"></i>
        <span (click)="onAddToWishList($event)"
        [ngClass]="{ active: product?._id === wishlist?.product?._id }">Tilføj til favoritter</span>
      </li>

      <li>
        <i class="fa-solid fa-triangle-exclamation"></i>
        <span (click)="openReviewDialog(product?._id)">Rapporterer misbrug</span>
      </li>
    </ul>
  </div>
</div>
