<section class="subscription-main">
  <app-account-top-section [title]="'Køb VIP konto'"></app-account-top-section>

  <div class="subscription-main-parent">
    <div class="subscription-main-sidebar">
      <app-account-sidebar></app-account-sidebar>
    </div>

    <div class="subscription-child">
      <div class="subscription-child-main">
        <div class="subscription-child-main-top">
          <h2>Opgrader til VIP-konto på Myescort.dk</h2>
          <ul class="subscription-list-info">
            <li>VIP Annonce - Din annonce får op til 3x flere visninger, VIP Annonce er altid vist i toppen.</li>
            <li>Flere billeder - Ubegrænset antal billeder på i din annonce.</li>
          </ul>
        </div>
        <!-- END! subscription-child-main-top -->
        <ng-container *ngIf="user?.subscriptionId && activeSubscription">
          <div class="subscription-child-active">
            <p>
              Du har aktiveret en {{activeSubscription?.[0]?.days}}-dages plan
              til {{activeSubscription?.[0]?.price}} DKK!
            </p>
          </div>
        </ng-container>
        <p class="flest-info">
          Flest Vælger! 
        </p>
        <div class="subscription-child-main-cards">
          <ng-container *ngFor="let subscriptionDetail of subscriptionDetails">
            <app-subscription-card
              (buyVIPEvent)="buyVip($event)"
              [subscriptionData]="subscriptionDetail"
            ></app-subscription-card>
          </ng-container>
        </div>
        <div class="subscription-child-main-bottom">
          <p class="tax-condition">
            Alle priser er i DKK og inkl. moms 
          </p>
          <p class="stripe">Powered by <span class="stripe-bold">stripe</span></p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END! subscription -->
