<div class="hm-popular-category-main">
  <div class="container">
    <div class="hm-popular-category-child">
      <div class="hm-popular-category-title">
        <h2>Populær områder</h2>
      </div>

      <div class="hm-popular-category-items">
        <ul>
<!--          <li *ngFor="let data of divisions">-->
<!--            <a routerLink="" [queryParams]="{id:data?._id}">{{data?.name}}</a>-->
<!--          </li> -->

<!--          <li *ngFor="let data of area">-->
<!--            <a routerLink="/ads" [queryParams]="{area:data?.name}">{{data?.name}}</a>-->
<!--          </li>-->
         <li>
            <a routerLink="/ads" [queryParams]="{zone:'København'}">København</a>
          </li>
          <li>
            <a routerLink="/ads" [queryParams]="{zone:'Aarhus'}">Aarhus</a>
          </li>
          <li>
            <a routerLink="/ads" [queryParams]="{area:'Odense'}">Odense</a>
          </li>
          <li>
            <a routerLink="/ads" [queryParams]="{zone:'Aalborg'}">Aalborg</a>
          </li>
          <li>
            <a routerLink="/ads" [queryParams]="{area:'Sydsjælland'}">Sydsjælland</a>
          </li>
          <li>
            <a routerLink="/ads" [queryParams]="{area:'Nordsjælland'}">Nordsjælland</a>
          </li>
          <li>
            <a routerLink="/ads" [queryParams]="{divisions:'Fyn'}">Fyn</a>
          </li>
          <li>
            <a routerLink="/ads" [queryParams]="{area:'Midtjylland'}">Midtjylland</a>
          </li>
          <li>
            <a routerLink="/ads" [queryParams]="{area:'Sydjylland'}">Sydjylland</a>
          </li>
        <li>
            <a routerLink="/ads" [queryParams]="{area:'Vestjylland'}">Vestjylland</a>
          </li>
        <li>
            <a routerLink="/ads" [queryParams]="{area:'Nordjylland'}">Nordjylland</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>



