<div class="loader-area" *ngIf="this.ngxLoader.loader == true">
  <div class="loader-main">
    <div class="loader-circle">
      <span class="rotate-circle"></span>
    </div>
    <!-- END! loader-circle -->
    <div class="loader-text-ani">
      <span data-text="L">L</span>
      <span data-text="O">O</span>
      <span data-text="A">A</span>
      <span data-text="D">D</span>
      <span data-text="I">I</span>
      <span data-text="N">N</span>
      <span data-text="G">G</span>
    </div>
    <!-- END loader-text-ani -->
  </div>
  <!-- END! loader-main -->
</div>
<!-- END! loader-area -->
