@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Manrope:wght@200;300;400;500;600;700;800&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
//@import url("src/assets/fonts/Arial.ttf");
//@import url("src/assets/fonts/Helvetica.ttf");
//@import url("src/assets/fonts/Q Serif.ttf");
//@import url("src/assets/fonts/Sans.ttf");
@font-face {
  font-family: "Arial";
  src: url("/assets/fonts/Arial.ttf");
}

@font-face {
  font-family: "Helvetica.ttf";
  src: url("/assets/fonts/Helvetica.ttf");
}

@font-face {
  font-family: "Q Serif.ttf";
  src: url("/assets/fonts/Q Serif.ttf");
}
