<div class="app-marketplace-card-main" >
  <div *ngIf="data?.isVipStatusActive" class="vip-badge">
    <span class="tilted-text">VIP</span>
  </div>
  <div 
  *ngIf="data"
  class="mk-qv"
  (click)="openComponentDialog(data?._id)"
  (mouseover)="isQaHover = true"
  (mouseout)="isQaHover = false"  
>
  <img src="./assets/images/svg/question.svg" alt="question">
</div>
  <!-- END! fa-circle-question -->
  <div
    *ngIf="data"
    class="marketplace-card"
    [class.qa-hover]="isQaHover"
    (click)="onClickToPrepopulate(data?._id)"
  >
    <div class="marketplace-card-img">
      <img
        [src]="data?.images && data?.images?.length ? data?.images[0] : imgPlaceHolder"
        alt="image"
      />
    </div>

    <div class="marketplace-card-body1"></div>

    <div class="marketplace-card-body">
      <h3>
        <span>{{ tesData }} </span>
        <span *ngIf="data?.user?.isVerfied">
          <img  src="./assets/images/svg/verified.svg" alt="verified">
        </span>        
      </h3>

      <h3>
        <span *ngIf="!data?.zone?.name">{{data?.division?.name}},</span>
        <span *ngIf="data?.zone?.name">{{data?.zone?.name}},</span>
        <span>{{ data?.age }}y</span>
      </h3>
    </div>
  </div>
  <!-- END! marketplace-card -->
</div>
<!-- END! app-marketplace-card-main -->