<app-page-top-section [titleData]="footerConnectionTitle + ' Aalborg'"></app-page-top-section
><!-- END! page-top-section -->

<!-- <app-search-area></app-search-area> -->
<app-aalboarg-search-area></app-aalboarg-search-area>
<!-- END! search-area -->

<section class="product-main">
  <div class="container">
    <div class="product-list-main">
      <!-- END! filter-area -->
      <app-product-list-right></app-product-list-right>
      <!-- END! product-list-right -->
    </div>
    <!-- END! product-list-main -->
  </div>
</section>
<!-- END! product-main -->
