<div class="blog" >
    <div class="blog-left">
          <div class="blog-date">
            <ngx-skeleton-loader count="1" [theme]="{
                'border-radius': '5px',
                 height: '30px',
                 width: '110px',
                'background-color': '#e5e5e5'
              }">
              </ngx-skeleton-loader>
          </div>
          <div class="blog-title">
            <ngx-skeleton-loader count="1" [theme]="{
                'border-radius': '5px',
                 height: '60px',
                 width: '100%',
                'background-color': '#e5e5e5'
              }">
              </ngx-skeleton-loader>
          </div>
          <div class="blog-res-img">
            <ngx-skeleton-loader count="1" [theme]="{
                'border-radius': '5px',
                 height: '200px',
                 width: '100%',
                'background-color': '#e5e5e5'
              }">
              </ngx-skeleton-loader>
          </div>
          <div class="blog-creator">
                <div class="blog-creator-img">
                    <ngx-skeleton-loader count="1" [theme]="{
                        'border-radius': '50%',
                         height: '80px',
                         width: '80px',
                        'background-color': '#e5e5e5'
                      }">
                      </ngx-skeleton-loader>
                </div>
                <div class="blog-creator-name">
                      <div>
                        <ngx-skeleton-loader count="1" [theme]="{
                            'border-radius': '3px',
                             height: '10px',
                             width: '150px',
                            'background-color': '#e5e5e5'
                          }">
                          </ngx-skeleton-loader>
                      </div>
                      <div>
                        <ngx-skeleton-loader count="1" [theme]="{
                            'border-radius': '3px',
                             height: '10px',
                             width: '150px',
                            'background-color': '#e5e5e5'
                          }">
                          </ngx-skeleton-loader>
                      </div>
                </div>
          </div>
          <div class="blog-btn">
            <div>
                <ngx-skeleton-loader count="1" [theme]="{
                    'border-radius': '3px',
                     height: '15px',
                     width: '150px',
                    'background-color': '#e5e5e5'
                  }">
                  </ngx-skeleton-loader>
              </div>
          </div>
    </div>
    <div class="blog-right">
          <div class="blog-img">
            <ngx-skeleton-loader count="1" [theme]="{
                'border-radius': '3px',
                 height: '350px',
                 width: '100%',
                'background-color': '#e5e5e5'
              }">
              </ngx-skeleton-loader>
          </div>
    </div>
</div>