<footer class="footer-top">
  <div class="container">
    <div class="footer-child">
      <div class="footer-items">
        <div class="footer-item">
          <h2>Massage</h2>
          <div class="footer-line"></div>
          <ul>
            <li><a routerLink="/massage-aalborg">Massage Aalborg </a></li>
            <li><a routerLink="/massage-odense">Massage Odense </a></li>
            <li><a routerLink="/massage-copenhagen">Massage København</a></li>
            <li><a routerLink="/massage-aarhus">Massage Aarhus</a></li>
          </ul>
        </div>


        <div class="footer-item">
          <h2>Escort lokalt i</h2>
          <div class="footer-line"></div>
          <ul>
            <li><a routerLink="/escort-aalborg">Escort Aalborg </a></li>
            <li><a routerLink="/escort-odense">Escort Odense </a></li>
            <li><a routerLink="/escort-copenhagen">Escort København</a></li>
            <li><a routerLink="/escort-aarhus">Escort Aarhus</a></li>
            <li><a routerLink="/escort-valby">Escort Valby</a></li>
          </ul>
        </div>


        <div class="footer-item">
          <h2>Informationer</h2>
          <div class="footer-line"></div>
          <ul>
            <li><a routerLink="/pages/privacy-policy">Privatlivs- og Cookiepolitik</a></li>
            <li><a routerLink="/blogs">Blog og artikler</a></li>
          </ul>
        </div>


        <div class="footer-item">
          <h2>Læs mere</h2>
          <div class="footer-line"></div>
          <ul>
            <li><a routerLink="/pages/terms-and-conditions">Terms & Conditions</a></li>
            <li><a routerLink="/pages/advertising">Advertisement</a></li>
          </ul>
        </div>

      </div>

    </div>

  </div>
</footer>


<!-- <footer class="footer-bottom">
  <div class="container">
    <div class="footer-bottom-child">
      <p>
        Copyright {{ date.getFullYear() }} &copy; demo limited. ALL RIGHTS
        RESERVED
      </p>
    </div>
    END! footer-bottom-child -->
  <!-- </div>
</footer> -->
<!-- END! footer-bottom -->
