<section class="ads-category-area ads-category-area-pink">
  <div class="container">
    <div class="ads-category-area-main">
      <div class="title-box ads-category-title-box">
        <h1>{{ title }}</h1>
        <div class="line"></div>
      </div>
      <div class="ads-category-area-cards">
        <swiper
          [speed]="1000"
          [autoplay]="true"
          [navigation]="false"
          [slidesPerView]="1"
          [spaceBetween]="22"
          [grabCursor]="true"
          [pagination]="{
            clickable: true
          }"
          [breakpoints]="{
            '0': {
              slidesPerView: 2,
            },
            '624px': {
              slidesPerView: 2,
            
            },
            '952px': {
              slidesPerView: 3,
            },
            '992': {
              slidesPerView: 6,
            }
          }"
          class="mySwiper carousel-swiper ads-swiper"
        >
          <ng-template swiperSlide *ngFor="let data of products">
            <app-marketplace-card [data]="data"></app-marketplace-card>
          </ng-template>  
        </swiper>
        <div *ngIf="!products?.length">
          <p style="text-align: center; padding-bottom: 23px;">
            Udforske flere muligheder.
        </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END CATEGORY AREA -->
