<app-section-one></app-section-one>
<!-- END! section-one-home -->

<app-home-popular-category></app-home-popular-category>
<!-- END! popular-category -->

<app-category-area></app-category-area>
<!-- END! category-area -->

<app-all-ads-category
  [title]="'VIP wkwin fsiwa & ewiw'"
  [description]="'Check out flash sale'"
  [filter]="{ isFeatured: true }"
  [pagination]="{ pageSize: 10, currentPage: 0 }"
></app-all-ads-category>

<app-app-product-area
  [title]="'Our Products'"
  [description]="'Test desc'"
  [filter]="null"
  [pagination]="{ pageSize: 10, currentPage: 0 }"
></app-app-product-area>

<app-small-banner></app-small-banner>

<!-- END! all-ads-category -->

<app-process-direction></app-process-direction>
<!-- END! process-direction -->
