@import "src/theme/variables";
@import "src/theme/variables";

.heading-data {
  h4 {
    font-size: 40px;
    line-height: 40px;
    padding-bottom: 4px;
    text-align: center;
    padding-top: 6px;
    font-family: $font-en-primary;
    font-weight: 600;
    letter-spacing: 0.5px;
  }

  p {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 6px;
    padding-left: 20px;
    padding-top: 10px;
    color: #777;
    font-family: $font-en-primary;
    font-weight: 400;
    letter-spacing: 0.5px;
    word-break: break-word;

    a {
      margin-left: 6px;
      display: inline;
      font-family: $font-en-primary;
      font-weight: 400;
    }
  }

  .link {
    color: #f54da3;
  }

  .link:hover {
    text-decoration: underline;
  }
}

.wrapper {
  display: flex;
  align-items: center;
}

.wrapper .static-txt {
  color: #fff;
  font-weight: 400;
}

.wrapper .dynamic-txts {
  margin-left: 15px;
  height: 90px;
  line-height: 60px;
  overflow: hidden;
}

.dynamic-txts li {
  list-style: none;
  color: $pink-color-two;
  font-size: 50px;
  font-weight: 500;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
}

@keyframes slide {
  100% {
    top: -360px;
  }
}

.dynamic-txts li span {
  position: relative;
  margin: 5px 0;
  line-height: 90px;
}

.dynamic-txts li span::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(236, 175, 203, 0.5);
  border-left: 2px solid #fc6d6d;
  animation: typing 3s steps(10) infinite;
}

@keyframes typing {
  40%,
  60% {
    left: calc(100% + 30px);
  }

  100% {
    left: 0;
  }
}

.section-one-home {
  margin-top: -103px;
  width: 100%;
  background: $primary-color;
  background-repeat: no-repeat !important;
  background-position: left center !important;
  background-size: cover !important;
  position: relative;
  z-index: 10;

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 20%);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -10;
  }
}

/* --- section-one-main --- */
.section-one-main {
  width: 100%;
  height: calc((100vh + 103px) - 201px);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex-direction: column;
}

@media (max-width: 992px) {
  .section-one-main {
    padding-top: 60px;
    height: calc((100vh + 103px) - 176px);
  }
}

@media (max-width: 668px) {
  .section-one-main {
    grid-gap: 26px;
  }
  .heading-data {
    h4 {
      font-size: 20px;
      line-height: 30px;
      padding-bottom: 6px;
      text-align: center;
      padding-top: 16px;
    }

    p {
      font-size: 16px;
      line-height: 30px;
      padding-bottom: 6px;
      padding-left: 8px;
      padding-right: 8px;
      padding-top: 10px;
      color: #777;
      a {
        margin-left: 6px;
        display: inline;
      }
    }

    .link {
      color: #f54da3;
    }

    .link:hover {
      text-decoration: underline;
    }
  }
}

/* --- sec-one-home-title --- */
.sec-one-home-title {
  h1 {
    font-family: $font-en-primary;
    font-size: 50px;
    font-weight: 500;
    color: $color-white;
    text-align: center;

    span {
      color: $pink-color-two;
    }
  }
}

@media (max-width: 668px) {
  .sec-one-home-title {
    h1 {
      font-size: 42px;
    }
  }
}

@media (max-width: 456px) {
  .sec-one-home-title {
    h1 {
      font-size: 32px;
    }
  }
  .heading-data {
    h4 {
      font-size: 16px;
      line-height: 30px;
      padding-bottom: 6px;
      text-align: center;
      padding-top: 16px;
    }

    p {
      font-size: 16px;
      line-height: 30px;
      padding-bottom: 6px;
      padding-left: 4px;
      padding-right: 4px;
      padding-top: 10px;
      color: #777;
      a {
        margin-left: 6px;
        display: inline;
      }
    }

    .link {
      color: #f54da3;
    }

    .link:hover {
      text-decoration: underline;
    }
  }
}

/* --- sec-one-inputs --- */
.sec-one-inputs {
  width: 100%;

  form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 0.6fr;
    width: 100%;
    grid-gap: 30px;
  }
}

@media (max-width: 1162px) {
  .sec-one-inputs {
    form {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}

@media (max-width: 950px) {
  .sec-one-inputs {
    form {
      grid-gap: 14px;
    }
  }
}

@media (max-width: 918px) {
  .sec-one-inputs {
    form {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

@media (max-width: 668px) {
  .sec-one-inputs {
    form {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media (max-width: 456px) {
  .sec-one-inputs {
    form {
      grid-template-columns: 1fr;
    }
  }
}

.sec-home-input-area {
  border: 1px solid #f54da3;
  border-radius: 4px;
  overflow: hidden;

  select {
    width: 100%;
    outline: 0;
    border-radius: 0;
    height: 50px;
    font-family: $font-en-primary;
    font-size: 15px;
    font-weight: 400;
    color: $input-color;
    padding: 4px 7px;
    border-right: 7px solid transparent;
    background-color: $color-white;
    border: 0;
    border-right: 6px solid transparent;
  }

  input {
    width: 100%;
    border: 0;
    outline: 0;
    border-radius: 0;
    height: 50px;
    font-family: $font-en-primary;
    font-size: 14px;
    font-weight: 500;
    color: $input-color;
    padding: 4px 10px;
    background-color: $color-white;
  }
}

.sec-home-sub-btn {
  border-radius: 5px;

  button {
    width: 100%;
    border: 0;
    outline: 0;
    height: 50px;
    font-family: $font-en-primary;
    font-size: 15px;
    font-weight: 500;
    color: $color-white;
    padding: 4px 7px;
    background-color: $btn-color;
    transition: all 0.12 linear;
    border-radius: 4px;
    letter-spacing: 0.5px;

    &:hover {
      background-color: $btn-color-hover;
    }
  }

  &.sec-home-sub-btn-second {
    button {
      background-color: #fff;
      border: 2px solid $btn-color;
      color: $btn-color;
      transition: all 0.12s linear;

      &:hover {
        background-color: $btn-color;
        color: #fff;
      }
    }
  }
}

@media (max-width: 500px) {
  .sec-home-input-area {
    select {
      font-size: 12px;
      height: 40px;
    }

    input {
      font-size: 12px;
      height: 40px;
    }
  }

  .sec-home-sub-btn {
    button {
      font-size: 13px;
      height: 40px;

      &:hover {
        background-color: $btn-color-hover;
      }
    }
  }
}

/* --- search-area --- */
.search-area {
  position: relative;
  z-index: 11;
  margin-top: -40px;
  margin-bottom: 50px;
}

.search-area-child {
  width: 100%;
  padding: 26px 26px;
  border-radius: 7px;
  background-color: $color-white;
  box-shadow: 0px 0px 4px #30303038;

  form {
    width: 100%;
    display: grid;
  }
}

.form-left-input {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border: 0 solid $border-color-two;
  border-right: 0;
  grid-gap: 12px;
  border-radius: 0;
  padding-bottom: 16px;
}

.show-filter {
  padding-top: 12px;

  .form-left-input.form-left-input-two {
    border: 0;
    padding-inline: 6px;
  }
}

.product-list-select {
  button {
    background-color: transparent;
    border: 0;
    padding: 0px 16px;
    width: 100%;
    height: 54px;
    outline: 0;
    font-family: $font-en-primary;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;
    position: relative;
    font-weight: 400;

    &::after {
      content: "";
      width: 1px;
      height: 50%;
      background-color: $border-color-two;
      position: absolute;
      top: 50%;
      right: 0;
      border-radius: 10px;
      transform: translateY(-50%);
    }

    i {
      font-size: 14px;
      color: $text-color-two;
      padding-top: 3px;
    }

    small,
    span {
      padding-top: 3px;
      font-size: 15px;
      color: $text-color-two;
    }

    span {
      color: $text-color;
    }
  }

  &:last-child {
    button {
      &::after {
        content: "";
        display: none;
      }
    }
  }
}

.product-list-select.product-list-input {
  position: relative;

  input {
    background-color: transparent;
    border: 0;
    padding: 6px 16px 0 33px;
    width: 100%;
    height: 54px;
    outline: 0;
    font-family: $font-en-primary;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;
    position: relative;
    color: $text-color;
    font-weight: 400;

    &::placeholder {
      padding-top: 3px;
      font-size: 15px;
      color: $text-color-two;
      font-weight: 400;
    }
  }

  i {
    font-size: 14px;
    color: $text-color-two;
    padding-top: 3px;
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
  }
}

.right-search-btn {
  button {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $pink-color-two;
    font-family: $font-en-primary;
    font-size: 15px;
    color: $color-white;
    outline: 0;
    border: 0;
  }
}

@media (max-width: 905px) {
  .search-area {
    margin-top: 0px;
    padding-top: 20px;
  }

  .search-area-child {
    form {
      grid-template-columns: 100%;
      grid-gap: 16px;
    }
  }

  .form-left-input {
    border: 0 solid $border-color-two;
  }

  .product-list-select {
    button {
      border-right: 1px solid $border-color-two;

      &::after {
        display: none;
      }
    }

    &:last-child {
      button {
        border-right: 0px solid $border-color-two;
      }
    }
  }

  .right-search-btn {
    button {
      height: 54px;
    }
  }
}

@media (max-width: 800px) {
  .form-left-input {
    grid-template-columns: repeat(1, 1fr);
    border: 0 solid $border-color-two;

    .gaping-div {
      display: none;
    }
  }

  .product-list-select {
    button {
      border-right: 0px solid $border-color-two;
      border-bottom: 1px solid $border-color-two;

      &::after {
        display: none;
      }
    }

    &:last-child {
      button {
        border-bottom: 0px solid $border-color-two;
      }
    }
  }
}

.all-filters {
  width: 100%;
  padding: 20px 26px;
  background-color: $color-white;
  margin-top: 30px;
  border-radius: 4px;
}

.all-filter-select-show {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 12px;

  .sec-home-input-area.sec-home-input-area-two {
    border: 1px solid $border-color-two;
    border-radius: 4px;
    overflow: hidden;
  }
}

@media (max-width: 700px) {
  .all-filter-select-show {
    grid-template-columns: repeat(1, 1fr);
  }
}
@import "src/theme/variables";
@import "src/theme/variables";

.heading-data {
  h4 {
    font-size: 40px;
    line-height: 40px;
    padding-bottom: 4px;
    text-align: center;
    padding-top: 6px;
    font-family: $font-en-primary;
    font-weight: 600;
    letter-spacing: 0.5px;
  }

  p {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 6px;
    padding-left: 20px;
    padding-top: 10px;
    color: #777;
    font-family: $font-en-primary;
    font-weight: 400;
    letter-spacing: 0.5px;
    word-break: break-word;

    a {
      margin-left: 6px;
      display: inline;
      font-family: $font-en-primary;
      font-weight: 400;
    }
  }

  .link {
    color: #f54da3;
  }

  .link:hover {
    text-decoration: underline;
  }
}

.wrapper {
  display: flex;
  align-items: center;
}

.wrapper .static-txt {
  color: #fff;
  font-weight: 400;
}

.wrapper .dynamic-txts {
  margin-left: 15px;
  height: 90px;
  line-height: 60px;
  overflow: hidden;
}

.dynamic-txts li {
  list-style: none;
  color: $pink-color-two;
  font-size: 50px;
  font-weight: 500;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
}

@keyframes slide {
  100% {
    top: -360px;
  }
}

.dynamic-txts li span {
  position: relative;
  margin: 5px 0;
  line-height: 90px;
}

.dynamic-txts li span::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(236, 175, 203, 0.5);
  border-left: 2px solid #fc6d6d;
  animation: typing 3s steps(10) infinite;
}

@keyframes typing {
  40%,
  60% {
    left: calc(100% + 30px);
  }

  100% {
    left: 0;
  }
}

.section-one-home {
  margin-top: -103px;
  width: 100%;
  background: $primary-color;
  background-repeat: no-repeat !important;
  background-position: left center !important;
  background-size: cover !important;
  position: relative;
  z-index: 10;

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 20%);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -10;
  }
}

/* --- section-one-main --- */
.section-one-main {
  width: 100%;
  height: calc((100vh + 103px) - 201px);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex-direction: column;
}

@media (max-width: 992px) {
  .section-one-main {
    padding-top: 60px;
    height: calc((100vh + 103px) - 176px);
  }
}

@media (max-width: 668px) {
  .section-one-main {
    grid-gap: 26px;
  }
  .heading-data {
    h4 {
      font-size: 20px;
      line-height: 30px;
      padding-bottom: 6px;
      text-align: center;
      padding-top: 16px;
    }

    p {
      font-size: 16px;
      line-height: 30px;
      padding-bottom: 6px;
      padding-left: 8px;
      padding-right: 8px;
      padding-top: 10px;
      color: #777;
      a {
        margin-left: 6px;
        display: inline;
      }
    }

    .link {
      color: #f54da3;
    }

    .link:hover {
      text-decoration: underline;
    }
  }
}

/* --- sec-one-home-title --- */
.sec-one-home-title {
  h1 {
    font-family: $font-en-primary;
    font-size: 50px;
    font-weight: 500;
    color: $color-white;
    text-align: center;

    span {
      color: $pink-color-two;
    }
  }
}

@media (max-width: 668px) {
  .sec-one-home-title {
    h1 {
      font-size: 42px;
    }
  }
}

@media (max-width: 456px) {
  .sec-one-home-title {
    h1 {
      font-size: 32px;
    }
  }
  .heading-data {
    h4 {
      font-size: 18px;
      line-height: 30px;
      padding-bottom: 6px;
      text-align: center;
      padding-top: 16px;
    }

    p {
      font-size: 12px;
      line-height: 24px;
      padding-bottom: 0px;
      padding-left: 0px;
      padding-right: 0px;
      padding-top: 4px;
      color: #777;
      a {
        margin-left: 6px;
        display: inline;
      }
    }

    .link {
      color: #f54da3;
    }

    .link:hover {
      text-decoration: underline;
    }
  }
}

/* --- sec-one-inputs --- */
.sec-one-inputs {
  width: 100%;

  form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 0.6fr;
    width: 100%;
    grid-gap: 30px;
  }
}

@media (max-width: 1162px) {
  .sec-one-inputs {
    form {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}

@media (max-width: 950px) {
  .sec-one-inputs {
    form {
      grid-gap: 14px;
    }
  }
}

@media (max-width: 918px) {
  .sec-one-inputs {
    form {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

@media (max-width: 668px) {
  .sec-one-inputs {
    form {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media (max-width: 456px) {
  .sec-one-inputs {
    form {
      grid-template-columns: 1fr;
    }
  }
}

.sec-home-input-area {
  border: 1px solid #f54da3;
  border-radius: 4px;
  overflow: hidden;

  select {
    width: 100%;
    outline: 0;
    border-radius: 0;
    height: 50px;
    font-family: $font-en-primary;
    font-size: 15px;
    font-weight: 400;
    color: $input-color;
    padding: 4px 7px;
    border-right: 7px solid transparent;
    background-color: $color-white;
    border: 0;
    border-right: 6px solid transparent;
  }

  input {
    width: 100%;
    border: 0;
    outline: 0;
    border-radius: 0;
    height: 50px;
    font-family: $font-en-primary;
    font-size: 14px;
    font-weight: 500;
    color: $input-color;
    padding: 4px 10px;
    background-color: $color-white;
  }
}

.sec-home-sub-btn {
  border-radius: 5px;

  button {
    width: 100%;
    border: 0;
    outline: 0;
    height: 50px;
    font-family: $font-en-primary;
    font-size: 15px;
    font-weight: 500;
    color: $color-white;
    padding: 4px 7px;
    background-color: $btn-color;
    transition: all 0.12 linear;
    border-radius: 4px;
    letter-spacing: 0.5px;

    &:hover {
      background-color: $btn-color-hover;
    }
  }

  &.sec-home-sub-btn-second {
    button {
      background-color: #fff;
      border: 2px solid $btn-color;
      color: $btn-color;
      transition: all 0.12s linear;

      &:hover {
        background-color: $btn-color;
        color: #fff;
      }
    }
  }
}

@media (max-width: 500px) {
  .sec-home-input-area {
    select {
      font-size: 12px;
      height: 40px;
    }

    input {
      font-size: 12px;
      height: 40px;
    }
  }

  .sec-home-sub-btn {
    button {
      font-size: 13px;
      height: 40px;

      &:hover {
        background-color: $btn-color-hover;
      }
    }
  }
}

/* --- search-area --- */
.search-area {
  position: relative;
  z-index: 11;
  margin-top: -40px;
  margin-bottom: 50px;
}

.search-area-child {
  width: 100%;
  padding: 26px 26px;
  border-radius: 7px;
  background-color: $color-white;
  box-shadow: 0px 0px 4px #30303038;

  form {
    width: 100%;
    display: grid;
  }
}

.form-left-input {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border: 0 solid $border-color-two;
  border-right: 0;
  grid-gap: 12px;
  border-radius: 0;
  padding-bottom: 16px;
}

.show-filter {
  padding-top: 12px;

  .form-left-input.form-left-input-two {
    border: 0;
    padding-inline: 6px;
  }
}

.product-list-select {
  button {
    background-color: transparent;
    border: 0;
    padding: 0px 16px;
    width: 100%;
    height: 54px;
    outline: 0;
    font-family: $font-en-primary;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;
    position: relative;
    font-weight: 400;

    &::after {
      content: "";
      width: 1px;
      height: 50%;
      background-color: $border-color-two;
      position: absolute;
      top: 50%;
      right: 0;
      border-radius: 10px;
      transform: translateY(-50%);
    }

    i {
      font-size: 14px;
      color: $text-color-two;
      padding-top: 3px;
    }

    small,
    span {
      padding-top: 3px;
      font-size: 15px;
      color: $text-color-two;
    }

    span {
      color: $text-color;
    }
  }

  &:last-child {
    button {
      &::after {
        content: "";
        display: none;
      }
    }
  }
}

.product-list-select.product-list-input {
  position: relative;

  input {
    background-color: transparent;
    border: 0;
    padding: 6px 16px 0 33px;
    width: 100%;
    height: 54px;
    outline: 0;
    font-family: $font-en-primary;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;
    position: relative;
    color: $text-color;
    font-weight: 400;

    &::placeholder {
      padding-top: 3px;
      font-size: 15px;
      color: $text-color-two;
      font-weight: 400;
    }
  }

  i {
    font-size: 14px;
    color: $text-color-two;
    padding-top: 3px;
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
  }
}

.right-search-btn {
  button {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $pink-color-two;
    font-family: $font-en-primary;
    font-size: 15px;
    color: $color-white;
    outline: 0;
    border: 0;
  }
}

@media (max-width: 905px) {
  .search-area {
    margin-top: 0px;
    padding-top: 20px;
  }

  .search-area-child {
    form {
      grid-template-columns: 100%;
      grid-gap: 16px;
    }
  }

  .form-left-input {
    border: 0 solid $border-color-two;
  }

  .product-list-select {
    button {
      border-right: 1px solid $border-color-two;

      &::after {
        display: none;
      }
    }

    &:last-child {
      button {
        border-right: 0px solid $border-color-two;
      }
    }
  }

  .right-search-btn {
    button {
      height: 54px;
    }
  }
}

@media (max-width: 800px) {
  .form-left-input {
    grid-template-columns: repeat(1, 1fr);
    border: 0 solid $border-color-two;

    .gaping-div {
      display: none;
    }
  }

  .product-list-select {
    button {
      border-right: 0px solid $border-color-two;
      border-bottom: 1px solid $border-color-two;

      &::after {
        display: none;
      }
    }

    &:last-child {
      button {
        border-bottom: 0px solid $border-color-two;
      }
    }
  }
}

.all-filters {
  width: 100%;
  padding: 20px 26px;
  background-color: $color-white;
  margin-top: 30px;
  border-radius: 4px;
}

.all-filter-select-show {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 12px;

  .sec-home-input-area.sec-home-input-area-two {
    border: 1px solid $border-color-two;
    border-radius: 4px;
    overflow: hidden;
  }
}

@media (max-width: 700px) {
  .all-filter-select-show {
    grid-template-columns: repeat(1, 1fr);
  }
}
