<section class="process-main">
  <div class="container">
    <div class="process-main-child">
      <div class="process-title">
        <h3>How To create account and create ads?</h3>
        <div class="process-line"></div>
      </div>

      <div class="process-text">
        <div class="just-text">
          <a>Just text Here</a>
        </div>

        <ul>
          <li>
            <p>
              1. Press the 'Create ad' button at the top right, or press here
              <a routerLink="/create-new">here</a>
            </p>
          </li>
          <li>
            <p>2. Create an account and confirm the account via email.</p>
          </li>
          <li>
            <p>
              3. You have 1 free add every 30 days,otherwise you have to buy VIP membership. Your free ad is valid for 30days.
            </p>
          </li>
          <li>
            <p>
              4. You create the ad by providing all the information and pressing create ad, then you press 'Create ad'.
            </p>
          </li>
          <li>
            <p>5. Your ad is now created and published. </p>
          </li>
          <li>
            <p>
              if you need more help,you can always contact us by email. You will find our contact information here:  <a>Click here</a> <br>
             Remember that all ads must be in violation of our <a>conditions</a>,if you create and ad that breaks the rule, it will  be deleted from All payments are made via   <a>Stripe</a> therefore myescort.db 
             does not have access to your information.  
            </p>
          </li>
        </ul>
      </div>

    </div>

  </div>
</section>
