<section class="process-main">
  <div class="container">
    <div class="process-main-child">
      <div class="process-title">
        <h3>Kort guide til oprettelse af sex annoncer på escort side</h3>
        <div class="process-line"></div>
      </div>

      <div class="process-text">
        <div class="just-text">
          <a>her får du kort guide til oprettelse af sex annoncer på myescort.dk</a>
        </div>

        <ul>
          <li>
            <p>
              1. Tryk på ”Opret annonce” knappen øverst til højre, eller tryk her: tryk her
              <a routerLink="/create-new">tryk her</a>
            </p>
          </li>
          <li>
            <p>2. Opret konto og bekræft kontoen via mail.</p>
          </li>
          <li>
            <p>
              3. Du har 1 gratis annonce hver 30 dage, ellers skal du købe VIP medlemskab. Din gratis annonce er gyldig i 30 dage.
            </p>
          </li>
          <li>
            <p>
              4. Du opretter annoncen ved at give alle oplysninger og trykker opret annonce, derefter trykker du ”Opret annonce”
            </p>
          </li>
          <li>
            <p>5. Din annonce er nu oprettet og offentliggjort. </p>
          </li>
          <li>
            <p>
              Hvis du har brug for mere hjælp, kan du altid kontakte os på mail. Du finder vores kontaktinformationer her: <a>tryk her</a>
Husk at alle sex annoncer skal være i strid med vores betingelser, opretter du en annoncer der bryder reglen, vil den blive slettet af escort side.
Alle betalinger er udført via Stripe, derfor myescort.dk har ikke adgang til dine oplysninger.
            </p>
          </li>
        </ul>
      </div>

    </div>

  </div>
</section>
