<div *ngIf="product?.pricing" class="product-details-pricing-info">
  <h5>
    <span>Pricing</span>
  </h5>
  <div *ngIf="product?.pricing?.length">
    <div *ngFor="let data of product?.pricing" class="description">
      <div>
        <p>{{data?.timing}} - {{data?.priceValue}} DKK</p>
      </div>
      <span>{{data?.serviceDescription}}</span>
    </div>
  </div>
  <p class="description" *ngIf="!product?.pricing?.length">Det ser ud til, at vi allerede giver dig det bedste tilbud!</p>
  <!-- <div class="description" [innerHTML]="product?.pricing | safeHtml"></div> -->
</div>
